.dropdown {
  position: relative;
  width: 100%;

  &--ranged .dropdown__input {
    text-transform: lowercase;
  }

  &--S {
    max-width: 150px;
  }

  &--M {
    max-width: 267px;
  }

  &--opened .dropdown__inner {
    border: 1px solid $color-main50;
    border-radius: 0 0 4px 4px;
    display: block;
  }

  &--opened .dropdown__input {
    border-color: $color-main50;
  }
}

.dropdown:not([data-type='datepicker']):not(.dropdown--checkbox) {
  .dropdown__input {
    border-radius: 4px;
    padding-bottom: 9px;
  }

  &.dropdown--opened .dropdown__input {
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
  }

  .dropdown__arrow {
    fill: $color-main75;
  }
}

.dropdown__input {
  background-color: white;
  border: 1px solid $color-main25;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 14px 10px;
  text-align: left;
  width: 100%;

  &:hover {
    border-color: $color-main50;
  }
}

.dropdown__arrow {
  bottom: 0;
  cursor: pointer;
  fill: $color-main50;
  height: 24px;
  pointer-events: none;
  position: absolute;
  right: 0;
  transform: translate(-45%, -50%);
  width: 24px;
}

.dropdown__inner {
  background: white;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.dropdown__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4px 8px 3px 14px;

  &:last-child {
    padding-bottom: 8px;
  }
}

.dropdown__buttons {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 18px 7px 12px 12px;
}

/*
 Checkbox list
*/

.dropdown--checkbox {
  .dropdown__input {
    border: none;
    color: $color-main100;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 0;
    padding-bottom: 6px;
    text-transform: uppercase;
  }

  .dropdown__arrow {
    transform: translate(-43%, -17%);
  }

  &.dropdown--opened > .dropdown__arrow {
    transform: translate(-43%, 0) rotate(180deg);
  }

  &.dropdown--opened > .dropdown__inner {
    border: none;
  }
}
@media (max-width: 610px) {
  .dropdown__inner {
    padding: 0 10px 10px 10px;
  }
}
