mixin dropdown-container(type, title, value, mods)
  -
    var allMods = '';
    var datepickerClasses = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' dropdown--' + modsList[i].trim();
      }
    }
  .dropdown(class=allMods data-type=type)
    input.dropdown__input(type='button' value=value class='js-dropdown__input' readonly)&attributes(attributes)
    +icon('expansion').dropdown__arrow
    .dropdown__inner
      block 
      if(mods.includes('extended'))
        .dropdown__buttons
          +button('','очистить','button')(data-action='clear')
          +button('','применить','button','purple')(data-action='apply')
        

mixin dropdown-item(title)
  .dropdown__item(class='js-dropdown__item')
    h3.js-dropdown__title!=title
    +input-number()