.dropdown {
  position: relative;
  width: 100%;
  
  &--ranged .dropdown__input {
    text-transform: lowercase;
  }

  &--S {
    max-width: 150px;
  }

  &--M {
    max-width: 270px;
  }

  .dropdown__input--opened ~ .dropdown__inner {
    border: 1px solid $color-main50;
    border-radius: 0 0 4px 4px;
    display: block;
  }
}

.dropdown:not([data-type='datepicker']) {
  .dropdown__input {
    border-radius: 4px 4px 0 0;
  }

  .dropdown__input--opened {
    border-bottom-color: transparent;
  }
}

.dropdown__input {
  background-color: white;
  border: 1px solid $color-main25;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  text-align: left;
  width: 100%;

  &--opened {
    border-color: $color-main50;
  }

  &--opened ~ .dropdown__arrow {
    fill: $color-main50;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &:hover {
    border-color: $color-main50;
  }
}

.dropdown__arrow {
  cursor: pointer;
  fill: $color-main25;
  height: 24px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
}

.dropdown__inner {
  background: white;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.dropdown__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5em;
  padding-left: 1em;
}

.dropdown__buttons {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-right: .5em;
}

/*
 Checkbox list
*/

.dropdown--checkbox {
  .dropdown__input {
    border: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding-left: 0;
    text-transform: uppercase;
  }

  .dropdown__arrow {
    fill: $color-main50;
  }

  .dropdown__input--opened ~ .dropdown__inner {
    border: none;
  }
}
