.ui-kit {
  background: #E5E5E5;
  padding-top: 30px;

  .logo--no-label {
    margin: 0 0 72px 30px;
  
    > img {
      object-fit: cover;
      object-position: left;
    }
  }
  
  .logo--no-label ~ * {
    margin-top: 40px;
  }
}
