// TODO: refactor!
.input {
  width: 100%;
}

.input_arrowed {
  position: relative;
  display: inline;  
}

.input__field {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding:10px 15px;

  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);

  width: 320px;
  height: 44px;
}

.input__field[type='email'] {
  width: 260px;
}

.input__field[type='text']:hover {
  color: rgba(31, 32, 65, 0.5);
  border-color: rgba(31, 32, 65, 0.5);
}


.input_arrow {
  height: 24px;
  width: 24px;

  position: absolute;
  top: 50%;
  right:10px;
  transform: translate(0, -50%);

  cursor: pointer;

  fill: url(#primary-gradient);
}

// Buttons
.input-button {
  display: block;

  position: relative;
  cursor: pointer;

  user-select: none;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.5);

  white-space: pre-wrap;
  margin-top:10px;
}

.input-button:hover,
.input-button :checked ~ label {
  color: rgba(31, 32, 65, 0.75);
}

.input-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-button label {
  cursor: pointer;

  padding-left: 27px;

  position: relative;

  display: flex;
}

/*
 Checkbox
*/

.input-button .checkmark-checkbox {
  background: #FFFFFF;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
}

.input-button:hover .checkmark-checkbox,
.input-button input:checked ~ .checkmark-checkbox {
  border-color: #BC9CFF;

}

.checkmark-checkbox use {
  position: absolute;
  display: none;
}

.input-button input:checked ~ .checkmark-checkbox use {
  display: block;
}

.input-button .checkmark-checkbox use {

  width: 5px;
  height: 5px;
  fill: url('#primary-gradient');
}

.title-checkbox {
  margin:0;
  margin-left: 27px;
  padding-bottom: 5px;
  
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.title-checkbox ~ label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}



/*
 Radio button
*/
.input-button .checkmark-radio {
  background: #FFFFFF;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;

  position: absolute;
  top:0;
  left: 0;
  width: 20px;
  height: 20px
}

.input-button:hover .checkmark-radio,
.input-button input:checked ~ .checkmark-radio {
  border-color: #BC9CFF;
}

.input-button .checkmark-radio:before {
  content: "";
  position: absolute;
  display: none;

  top:49%;
  right: 51%;
  transform: translate(50%, -50%);

  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.input-button input:checked ~ .checkmark-radio:before {
  display: block;
}

/*
 Toggle button
*/

.input-button_toggle {
  color: rgba(31, 32, 65, 0.75);
}
.input-button_toggle label {
  padding-left: 47px;
}

.input-button .checkmark-toggle {
  background: #FFFFFF;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;

  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
}

.input-button:hover .checkmark-toggle,
.input-button input:checked ~ .checkmark-toggle {
  border-color: #BC9CFF;
}

.input-button .checkmark-toggle:before {
  content: "";
  position: absolute;
  display: block;

  top:49%;
  left: 50%;
  transform: translate(-125%, -50%);

  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: rgba(31, 32, 65, 0.25);

  transition: transform .2s linear;
}

.input-button input:checked ~ .checkmark-toggle:before {
  transform: translate(25%, -50%);
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

/*
 Like button
*/
.input__like {
  position: relative;
  display: inline-flex;
}
.input-button .checkmark-like {
  width: 20px;
  height: 20px;
}

.input-button .checkmark-like ~ label {
  position: absolute;
  top: 49%;
  left: 0;
  transform: translate(0, -50%);

  padding:0;

  width:100%;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 7px;
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
}

.input-button input:checked ~ .checkmark-like ~ label {
  color: #BC9CFF;
}

.input-button .checkmark-like {
  background: #FFFFFF;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;

  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
}

.input-button:hover .checkmark-like,
.input-button input:checked ~ .checkmark-like {
  border-color: #BC9CFF;
}

.input-button .checkmark-like use {
  position: absolute;
  display: block;

  left:0;

  fill: white;
  stroke: rgba(31, 32, 65, 0.25);
  stroke-width: 2px;
}

.input-button input:checked ~ .checkmark-like use {
  fill: url('#primary-gradient');
  stroke: url('#primary-gradient');
}

/*
 Star button
*/
.input-button .label-star {
  padding: 0;
}

.input-button .checkmark-star use {
  fill: white;
  stroke: url('#primary-gradient');
  stroke-width: 2px;
}

.input-button input:checked ~ .checkmark-star use {
  fill: url('#primary-gradient');
}

/*
  Number button
*/

.input-number {
  font-size: 12px;
  line-height: 15px;
  display: inline-flex;
}

.input-number input {
  appearance: textfield;
  text-align: center;
  width: 30px;
  border:none;
}
.input-number button {
  width: 30px;
  height: 30px;

  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 50%;

  background: white;

  color: rgba(31, 32, 65, 0.5);
}

.input-number .input-number_left_disabled {
  border-color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25);
}

.dropdown__button[data-action="clear"].dropdown__button_disabled {
  color: white;
  pointer-events: none;
}