.input {
  position: relative;
  width: 100%;
}

.input__field {
  background-color: white;
  border: 1px solid $color-main25;
  border-radius: 4px;
  color: $color-main25;
  padding: 9px 15px;
  width: 100%;

  &:hover,
  &:focus {
    border-color: $color-main50;
    color: $color-main75;
  }
}

.input__arrow {
  cursor: pointer;
  fill: $gradient-purple-svg;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
}

/*
***** Buttons *****
*/

.input-button {
  color: $color-main50;
  display: block;
  line-height: 18px;
  margin-top: 12px;
  user-select: none;

  &--like,
  &--star {
    display: inline-flex;
  }

  &--like {
    margin-right: 10px;
  }

  &--radio,
  &--star {
    margin-right: 20px;
  }
}

.input-button__label {
  cursor: pointer;
  display: block;
  position: relative;

  &--checkmark {
    padding-left: 30px;
  }

  &--toggle {
    color: $color-main75;
    padding-left: 50px;
  }

  &--radio {
    display: flex;
  }

  &:hover .input-button__mark {
    border-color: $color-main75; 
  }

  &:hover .input-button__text--radio {
    color: $color-main75; 
  }

}

.input-button__input {
  cursor: pointer;
  display: none;

  &:checked ~ .input-button__text--radio {
    color: $color-main75;
  }

  &:checked ~ .input-button__text--like {
    color: $color-purple;
  }

  &:checked ~ .input-button__mark {
    border-color: $color-purple;
  }

  &:checked ~ .input-button__mark--checkmark use {
    display: block;
  }

  &:checked ~ .input-button__mark--like use {
    fill: $gradient-purple-svg;
    stroke: $gradient-purple-svg;
  }

  &:checked ~ .input-button__mark--star use {
    fill: $gradient-purple-svg;
  }

  &:checked ~ .input-button__mark--toggle::before {
    background: $gradient-purple-background;
    transform: translate(25%, -50%);
  }

  &:checked ~ .input-button__mark--radio::before {
    background: $gradient-purple-background;
    display: block;
  }
}

.input-button__text {
  cursor: pointer;

  &--like {
    color: $color-main25;
    font-size: 10px;
    left: 50%;
    line-height: 12px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
  }
}

.input-button__mark {
  background: #ffffff;
  border: 1px solid $color-main25;
  cursor: pointer;
  pointer-events: none;

  use {
    pointer-events: none;
  }

  &--checkmark {
    border-radius: 4px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }

  &--like {
    border-radius: 10px;
    height: 20px;
    position: relative;
    width: 40px;
  }

  &--star {
    background: transparent;
    border: none;
  }

  &--toggle {
    background: #ffffff;
    border: 1px solid $color-main25;
    border-radius: 10px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
  
  &--radio {
    border-radius: 10px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    width: 20px;
  }

  &--radio::before,
  &--toggle::before {
    background: $color-main25;
    border-radius: 50%;
    content: '';
    display: block;
    height: 12px;
    left: 50%;
    position: absolute;
    top: 48%;
    transition: transform .2s linear;
    width: 12px;
  }

  &--toggle::before {
    transform: translate(-125%, -50%);
  }

  &--radio::before {
    display: none;
    transform: translate(-50%, -50%);
  }

  &--checkmark use {
    display: none;
    fill: $gradient-purple-svg;
    height: 5px;
    width: 5px;
  }

  &--like use {
    display: block;
    fill: white;
    left: 0;
    position: absolute;
    stroke: $color-main25;
    stroke-width: 2px;
  }

  &--star use {
    fill: white;
    stroke: $gradient-purple-svg;
    stroke-width: 2px;
  }
}

.input-button__title {
  color: $color-main75;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  padding-bottom: 6px;

  ~ .input-button__text {
    font-size: 12px;
    line-height: 14px;
    white-space: pre;
  }
}

/*
  Number button
*/

.input-number {
  display: inline-flex;
  font-size: 12px;
  line-height: 15px;
}

.input-number__input {
  appearance: textfield;
  border: none;
  color: $color-main100;
  font-size: .75rem;
  font-weight: bold;
  text-align: center;
  width: 30px;
}

.input-number__button {
  background: white;
  border: 1px solid $color-main50;
  border-radius: 50%;
  color: $color-main50;
  height: 30px;
  width: 30px;

  &--disabled {
    border-color: $color-main25;
    color: $color-main25;
  }
}
