.input {
  position: relative;
  width: 100%;
}
.input__field {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding:10px 15px;

  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);

  width: 320px;
  height: 44px;
}

.input__field[type='email'] {
  width: 260px;
}

.input__field[type='text']:hover {
  color: rgba(31, 32, 65, 0.5);
  border-color: rgba(31, 32, 65, 0.5);
}

.input_subscription {
  height: 24px;
  width: 24px;

  position: absolute;
  top: 50%;
  right:72px;
  transform: translate(0, -50%);

  cursor: pointer;

  fill: url(#primary-gradient);
}