.button {
  color: $color-main50;
  cursor: pointer;
  font-family: $font-family-main;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  margin: 0 10px;
  text-align: center;
  text-transform: uppercase;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &--purple {
    color: $color-purple;
  }

  &--oval {
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: double 3px transparent;
    border-radius: 22px;
    padding: 12px 20px;
    position: relative;
  }

  &--filled {
    background-image: $gradient-purple-background, $gradient-purple-background;
    color: white;
  }

  &--framed {
    background-image: linear-gradient(#fff, #fff), $gradient-purple-background;
    color: $color-purple;
  }

  &--inactive {
    opacity: .5;
  }

  &--link {
    display: block;
    width: 100%;
  }

  &--hidden {
    visibility: hidden;
  }

  &--header {
    padding: .5rem 1.07rem .4rem;
  }
}

.button__arrow {
  cursor: pointer;
  fill: white;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
}
