mixin button(text, type, mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' button--' + modsList[i].trim();
      }
    }
    if(type === 'a')
  a.button(class=allMods)&attributes(attributes)!= text
    svg.button_arrow
      use(xlink:href='#arrow-right')
  - else 
  button.button(class=allMods)&attributes(attributes)!= text
      