.list {
  margin-top: 14px;
}

.list__item {
  margin-bottom: 10px;
  max-width: 290px;
  padding-left: 20px;
  padding-right: 30px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    background: $color-main25;
    border-radius: 50%;
    content: '';
    height: 10px;
    left: 0;
    position: absolute;
    top: .5em;
    width: 10px;
  }
}
