.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.container_flex-centralized {
  align-items: center;
}

.container_flex-baselined {
  align-items: baseline;
}

.container_flex-baselined {
  margin-top: 100px;;
}


/*
UI-KIT containers
*/
.container_ui-kit {
  max-width: none;

  width: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 42px;
}
