.container {
  box-sizing: initial;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 80.5%;

  &--flex-centralized {
    align-items: center;
  }

  &--flex-baselined {
    align-items: baseline;
    margin-top: 100px;
  }

  &--intro {
    height: 100%;
    padding: 0;
    position: relative;
  }

  &--room {
    padding-bottom: 60px;
    padding-top: 70px;
  }

  &--search-room {
    flex-wrap: nowrap;
    padding-bottom: 70px;
    padding-top: 30px;
  }
}

@media (max-width: 1279px) {
  .container {
    width: 95%;
  }
}
