.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 15px;
  width: 100%;

  &--flex-centralized {
    align-items: center;
  }

  &--flex-baselined {
    align-items: baseline;
    margin-top: 100px;
  }

}

/*
UI-KIT containers
*/
.container--ui-kit {
  max-width: none;
  padding: 30px 0 42px 30px;
  width: 100%;
}
