mixin column(mods = 'L')
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' column--' + modsList[i].trim();
      }
    }
  .column(class=allMods)
    block

mixin column-item(title, hint, mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' column__item--' + modsList[i].trim();
      }
    }
  .column__item(class=allMods)
    if(title)
      .columnn__subtitle
        h3!=title
        if(hint)
          h3.column__hint!=hint

    block