.column {
  align-content: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px;
  width: 100%;

  &:first-child {
    margin-left: 0;
  }

  &:last-child:not(.column--centered) {
    margin-right: 0;
  }

  &--M {
    max-width: 266px;
  }

  &--L {
    max-width: 320px;
  }

  &--XL {
    max-width: 380px;
  }

  &--XXL {
    max-width: 731px;
  }

  &--room-S {
    width: 32.8%;
  }

  &--room-M {
    justify-content: inherit;
    width: 61.1%;
  }

  &--margin-less {
    margin: 0;
  }

  &--centered {
    margin: auto;
  }

  &--paginator {
    margin-left: 51px;
  }
}

.column__item {
  padding-bottom: 20px;
  width: 100%;

  &:last-child {
    padding-bottom: 0;
  }

  &--XXS {
    max-width: 90px;
  }

  &--XS {
    max-width: 150px;
  }

  &--S {
    max-width: 230px;
  }

  &--M {
    max-width: 266px;
  }

  &--card {
    max-width: 269.5px;
  }

  &--card:nth-child(9n + 6) {
    margin-left: 12px;
    margin-right: 12px;
  }

  &--flex {
    align-items: center;
    display: flex;
    padding: 0;
  }

  &--room {
    padding-bottom: 14px;
    padding-right: 20px;
    width: 49%;
  }

  &--pb30 {
    padding-bottom: 30px;
  }

  &--flex:not(.column__item--XXS) > *:not(:last-child) {
    margin-right: 20px;
  }

  &--multiple > *:not(:last-child):not(.columnn__subtitle) {
    margin-bottom: 10px;
  }
}

.columnn__subtitle {
  padding-bottom: 5px;
}

.columnn__subtitle,
.columnn__title {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.column__hint {
  color: $color-main50;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: right;
}

.column__text {
  padding-top: 18px;
}
