mixin column()
  .column 
    block

mixin column__item(title, mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' column__item_' + modsList[i].trim();
      }
    }
  .column__item(class=allMods)
    - if(title)
    h3!=title
    block