.column {
  align-content: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px;
  width: 100%;

  &--M {
    max-width: 270px;
  }

  &--L {
    max-width: 320px;
  }

  &--XL {
    max-width: 380px;
  }

  &--XL {
    max-width: 380px;
  }

  &--XXL {
    max-width: 710px;
  }
}

.column__item {
  padding-bottom: 20px;
  width: 100%;

  &--XXS {
    max-width: 90px;
  }

  &--XS {
    max-width: 150px;
  }

  &--S {
    max-width: 230px;
  }

  &--M {
    max-width: 270px;
  }

  &--button-filled {
    margin-top: 10px;
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
}

.columnn__subtitle {
  display: block;
  padding-bottom: 5px;
}
