$font-family-main:                 'Montserrat', sans-serif;
$font-family-secondary:            'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;

$font-size-main:            14px;

$color-purple:              #BC9CFF;
$color-green:               #6FCF97;
$color-main100:             #1F2041;
$color-main75:              rgba(31, 32, 65, 0.75);
$color-main50:              rgba(31, 32, 65, 0.5);
$color-main25:              rgba(31, 32, 65, 0.25);
$color-main10:              rgba(31, 32, 65, 0.1);
$color-main5:               rgba(31, 32, 65, 0.05);

$gradient-purple:           url(#primary-gradient);