$font-family-main:              'Montserrat', sans-serif;
$font-family-secondary:         'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;

$font-size-main:                14px;

$color-purple:                #BC9CFF;
$color-green:                 #6FCF97;
$color-main100:               #1F2041;
$color-main75:                rgba(31, 32, 65, .75);
$color-main50:                rgba(31, 32, 65, .5);
$color-main25:                rgba(31, 32, 65, .25);
$color-main10:                rgba(31, 32, 65, .1);
$color-main5:                 rgba(31, 32, 65, .05);
$color-picked-cell:           #fff;
$color-form-border:           rgba(0, 0, 0, .12);
$color-form-shadow:           rgba(0, 0, 0, .2);
$color-background-main:       #fff;

$gradient-purple-svg:           url('#primary-gradient');
$gradient-purple-background:    linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$gradient-green-background:     linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$gradient-orange-background:    linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$gradient-black-background:     linear-gradient(180deg, #919191 0%, #3D4975 100%);
$gradient-photo:                linear-gradient(90deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

$border-color-picture:        #fff;
