mixin logo(label)
  - if(label)
  .logo
    img(src=require('../components/logo/img/logo.png').default, alt='logo')
  - else
  .logo--no-label
    img(src=require('../components/logo/img/logo.png').default, alt='logo')