.comment {
  background: white;
  margin: 10px;
  position: relative;
}

.comment__content {
  margin-left: 57px;
}

.comment__header {
  margin-bottom: 10px;
}

.comment__author {
  font-weight: bold;
}

.comment__picture-container {
  align-items: center;
  content: "";
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;

  .input-button--like {
    margin-right: 0;
  }
}

.comment__picture {
  border: 2px solid $border-color-picture;
  border-radius: 32px;
  box-shadow: 0 10px 20px $color-main10;
}
