mixin comment(author, text, date, picture)
  - var id = `f${(~~(Math.random()*1e8)).toString(16)}`;
  .comment
    .comment__content
      .comment__header
        .comment__author!=author
        .comment__date!=date
      .comment__text!=text
    .comment__picture
      img(src='../../assets/img/image.png')
      +input-like('12', id)
