.comment {
  background: white;
  padding-bottom: 3px;
  padding-top: 20px;
  position: relative;
}

.comment__content {
  align-items: flex-start;
  display: flex;
}

.comment__header {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.comment__author {
  font-weight: bold;
}

.comment__picture {
  border: 2px solid $border-color-picture;
  border-radius: 32px;
  box-shadow: 0 10px 20px $color-main10;
  margin-right: 10px;
}
