extends ../layout/main

block variables
    - var title = 'Webpack + Pug'
    - var description = 'Description Webpack + Pug'
    - var pageClass = 'index-page'

block content 
    section
        .block1
            p block1 hello
        .block2
            p block2 hello

            