
include ../components/icons/icons.pug
include ../components/input/input.pug
include ../components/column/column.pug
include ../components/button/button.pug
include ../components/dropdown/dropdown.pug
include ../components/datepicker/datepicker.pug
include ../components/container/container.pug
include ../components/list/list.pug
include ../components/comment/comment.pug

br

+container
  +column
    +column-item
      +input('text field', 'text','Email')     
      +input('text field', 'text','Email')
      +dropdown-container('guests','dropdown','Сколько гостей','extended')
        +dropdown-item('спальни')
        +dropdown-item('кровати')
        +dropdown-item('ванные комнаты')
      +input('masked text field', 'date','ДД.ММ.ГГГГ')
    +column-item('','date')
      +dropdown-container('datepicker', 'date dropdown', 'small')
        +datepicker('datepicker1')
      +dropdown-container('datepicker', 'date dropdown', 'small')
        +datepicker('datepicker2')
    +column-item 
      +dropdown-container('datepicker', 'filter date dropdown', 'middle,ranged')
        +datepicker('datepicker3') 
    +column-item 
      +input('subscription text field', 'email','Email') 
  +column
    +column-item('checkbox buttons')
      +input-checkbox('Можно курить')
      +input-checkbox('Можно с питомцами')
      +input-checkbox('Можно пригласить гостей \n (до 10 человек)')
    +column-item('radio buttons', 'radio')
      +input-radio('Мужчина', 'gender')
      +input-radio('Женщина', 'gender')
    +column-item('toggle')
      +input-toggle('Получать спецпредложения')
      +input-toggle('Получать спецпредложения')
    +column-item('like button', 'like')
      +input-like('2', 'empty-heart')
      +input-like('12', 'filled-heart')
    +column-item('rate button', 'radio')
      +input-stars(4, 5)
      +input-stars(5, 5)
  +column
    +column-item('buttons', 'radio')
      +button('click me', 'button')
      +button('click me', 'button', 'inactive')
    +column-item('', 'radio,headerless')
      +button('click me', 'button', 'hollow')
      +button('click me', 'button', 'inactive,hollow')
    +column-item('', 'headerless,h3')
      h3 click me
      h3 click me
    +column-item('', 'headerless')
      +button('перейти к оплате','a')
+container('flex-baselined')
  +column
    +column-item
      +dropdown-container('appartament','dropdown','Какие аппартаменты','middle')
        +dropdown-item('спальни')
        +dropdown-item('кровати')
        +dropdown-item('ванные комнаты')
      +dropdown-container('appartament','dropdown','Какие аппартаменты','middle')
        +dropdown-item('спальни')
        +dropdown-item('кровати')
        +dropdown-item('ванные комнаты')
  +column('big')
    +column-item
      +dropdown-container('guests','dropdown','Сколько гостей','extended')
        +dropdown-item('спальни')
        +dropdown-item('кровати')
        +dropdown-item('ванные комнаты')
  +column('big')
    +column-item
      +dropdown-container('guests','dropdown','Сколько гостей','extended')
        +dropdown-item('спальни')
        +dropdown-item('кровати')
        +dropdown-item('ванные комнаты')
+container('flex-baselined')
  +column
    +column-item
      +dropdown-container('checkbox','','expandable checkbox list','middle,checkbox')
        +input-checkbox('Завтрак')
        +input-checkbox('Письменный стол')
        +input-checkbox('Стул для кормления')
        +input-checkbox('Кроватка')
        +input-checkbox('Телевизор')
        +input-checkbox('Шампунь')
        +input-checkbox('Телевизор')
        +input-checkbox('Шампунь')
      +dropdown-container('checkbox','','expandable checkbox list','middle,checkbox')
        +input-checkbox('Завтрак')
        +input-checkbox('Письменный стол')
        +input-checkbox('Стул для кормления')
        +input-checkbox('Кроватка')
        +input-checkbox('Телевизор')
        +input-checkbox('Шампунь')
        +input-checkbox('Телевизор')
        +input-checkbox('Шампунь')
  +column('middle')
    +column-item('Rich Checkbox Buttons')
      +input-checkbox('Ширина коридоров в номере \n не менее 91 см.','Широкий коридор')
      +input-checkbox('На 1 этаже вас встретит специалист \n и проводит до номера.','Помощник для инвалидов')
  +column
    +column-item('bullet list')
      +list-container
        +list-item('Нельзя с питомцами')
        +list-item('Без вечеринок и мероприятий')
        +list-item('Время прибытия — после 13:00, \n а выезд до 12:00')
+container('flex-baselined')
  +column
    +column-item
      +comment('Мурад Сарафанов','Великолепный матрас на кровати в основной \
      спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. \
      Выкрикивал комплименты повару — никто не жаловался из соседей.','5 дней назад')
br
br
br
br
br