
include ../components/icons/icons.pug
include ../components/input/input.pug
include ../components/column/column.pug
include ../components/container/container.pug

br
+container('flex-baselined')
  +column
    +column__item
      +input('text field', 'text','Email')
      +input('masked text field', 'date','ДД.ММ.ГГГГ')
    +column__item 
      +input('subscription text field', 'email','Email') 
  +column
    +column__item('checkbox buttons')
      +input-checkbox('Можно курить')
      +input-checkbox('Можно с питомцами')
      +input-checkbox('Можно пригласить гостей \n (до 10 человек)')
    +column__item('radio buttons', 'radio')
      +input-radio('Мужчина', 'gender')
      +input-radio('Женщина', 'gender')
    +column__item('toggle')
      +input-toggle('Получать спецпредложения')
      +input-toggle('Получать спецпредложения')
    +column__item('like button', 'like')
      +input-like('2', 'empty-heart')
      +input-like('12', 'filled-heart', true)
  +column
    +column__item
      +input('text field', 'text','Email')
      +input('masked text field', 'date','ДД.ММ.ГГГГ')
    +column__item
      +input('subscription text field', 'email','Email')