include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/icons/icons.pug
include ../components/logo/logo.pug

+logo(false)
br
+header(false)
br
+header(true)
br
+footer
br
+footer(true)