
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/icons/icons.pug

.ui-kit
  +logo(false)
  +header(false)
  +header(true)
  +footer(true)
  +footer