extends ./layout/ui-kit.pug
include ../components/header/header.pug
include ../components/footer/footer.pug

block content
  include ../components/icons/icons.pug

  +header(false)
  br
  +header(true)
  br
  +footer
  br
  +footer(true)