include ../components/icons/icons.pug
include ../components/input/input.pug
include ../components/column/column.pug
include ../components/button/button.pug
include ../components/dropdown/dropdown.pug
include ../components/container/container.pug
include ../components/form/form.pug
include ../components/logo/logo.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/intro/intro.pug
include ../components/datepicker/datepicker.pug
include ../components/nav/nav.pug

+header(false, texts={headers: ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"], услуги: ["Услуги1", "Услуги2"], соглашения: ["Соглашения1", "Соглашения2", "Соглашения3"]}, buttons = {login:"Войти", register: "Зарегистрироваться"})
+intro('Лучшие номера для вашей работы, отдыха и просто вдохновения', 'landing')
  +column('XL,margin-less')
    +form-element('Найдём номера под ваши пожелания')
      +form-search
      +form-footer
        +button('search-room-page.html','подобрать номер','a', 'oval,filled,link').js-button--form
+footer(true, texts = {copyright: "Copyright © 2018 Toxin отель. Все права зачищены.", description: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»", columns: {навигация: ["О нас", "Новости", "Служба поддержки", "Услуги"], "о нас": ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], "служба поддержки": ["Соглашения", "Сообщества", "Связь с нами"]}, subscription: {title:"подписка", text: "Получайте специальные предложения и новости сервиса"}})