include ../components/icons/icons.pug
include ../components/input/input.pug
include ../components/column/column.pug
include ../components/button/button.pug
include ../components/container/container.pug
include ../components/form/form.pug
include ../components/logo/logo.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/intro/intro.pug
include ../components/nav/nav.pug

+header(false)
+intro('', 'registration')
  +column('XL,margin-less,centered')
    +form-element('Регистрация аккаунта')
      +column-item('','', 'multiple')
        +input-field('text','Имя') 
        +input-field('text','Фамилия') 
        +column-item('','', 'flex,S')
          +input-radio('Мужчина', 'gender')
          +input-radio('Женщина', 'gender')
      +column-item('Дата рождения')
          +input-field('date','ДД.ММ.ГГГГ')
      +column-item('данные для входа в сервис', '','multiple')
        +input-field('text','Email') 
        +input-field('text','Пароль') 
        +input-toggle('Получать спецпредложения')
      +column-item('','','button-filled')
        +button('','перейти к оплате','a', 'oval,filled,link')
      +form-footer
        span!='Уже есть аккаунт на Toxin'
        +button('','войти', 'button', 'oval,framed')
+footer(true)