.header {
  background-color: white;
  padding: 13px 0;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .button--hollow {
    margin-left: 15px;
    margin-right: 20px;
  }
}
