include ../button/button.pug
include ../nav/nav.pug
include ../logo/logo.pug

header.header
  .container
    .header__inner
      +logo(true)
      +nav
        +nav__item('Home','#','bold')
        +nav__item('About us','#')
        +nav__item('Services','#','multiple')
        +nav__item('Creers','#')
        +nav__item('News','#')
        +nav__item('Documentation','#')
        +button('Login','button','hollow')
        +button('Register','button')
