include ../button/button.pug
include ../nav/nav.pug
include ../logo/logo.pug
include ../container/container.pug


mixin header(logged)
  header.header
    +container
      .header__inner
        +logo(true)
        +nav
          +nav__item('Home','#','bold')
          +nav__item('About us','#')
          +nav__item('Services','#','multiple')
            +nav__item('Service 1','#')
            +nav__item('Service 2','#')
            +nav__item('Service 3','#')
          +nav__item('Careers','#')
          +nav__item('News','#')
          +nav__item('Documentation','#')
          - if(logged)
          +nav__item('Cosmin Negoita','#','logged-in')
          - else {
          .header__buttons
            +button('Login','button','oval,framed,header')
            +button('Register','button','oval,filled,header')
          - }
