.header {
  background: $color-background-main;
  box-shadow: 0 10px 20px $color-main5;
  padding: 15px 0;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
