.datepicker {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 15px;
  padding: 19px 20px;
  width: 320px;
  font-family: $font-family-main;

  &--nav {
    border: none;
    min-height: 0;
    padding: 0;
  }
}

.datepicker--nav-action {
  fill: $color-purple;
  height: 24px;
  width: 24px;

  &[data-action='prev'] {
    transform: rotate(180deg);
  }
}

.datepicker--nav-title {
  color: $color-main100;
  font-family: $font-family-secondary;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;

  padding: 0;
  text-align: center;
}

.datepicker--content {
  color: $color-main50;
  padding: 33px 0 20px;
}

.datepicker--days-names {
  margin: 8px 0 13px;
}

.datepicker--day-name {
  color: $color-purple;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-transform: none;
}

.datepicker--cell {
  height: 40px;

  &.-other-month- {
    color: $color-main25;
  }

  &.-current-,
  &.-selected- {
    color: $color-picked-cell;
    font-weight: bold;
  }

  &.-current- {
    background: $gradient-green-background;
    border-radius: 22px;
  }

  &.-in-range- {
    background: white;
    color: $color-main50;
  }

  &.-selected- {
    background: $gradient-purple-background;
    border-radius: 22px;
  }
}

.-ranged- .datepicker--cell {
  &.-in-range-::before,
  &.-selected-::before {
    background: $gradient-purple-background;
    content: '';
    height: 100%;
    left: 0;
    opacity: .25;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
  }

  &.-range-from-::before {
    border-radius: 22px 0 0 22px;
  }

  &.-range-to-::before {
    border-radius: 0 22px 22px 0;
  }
}

.datepicker--buttons {
  border: none;
  justify-content: space-between;
  padding: 0;
}

.datepicker--button {
  flex: none;
  height: initial;

  &:hover {
    background: none;
  }
}