.intro {
  background-position: bottom;
  background-repeat: no-repeat;

  &--landing {
    background-image: url('./components/intro/img/background-landing.jpg');
    height: 830px;
    padding-bottom: 20px;
    padding-top: 70px;
  }

  &--login,
  &--registration {
    background-image: url('./components/intro/img/background-log-in.jpg');
    height: 702px;
    padding-bottom: 30px;
    padding-top: 28px;
   }

   &--login {
    padding-top: 67px;
   }
}

.intro__text {
  bottom: 0;
  max-width: 290px;
  position: absolute;
  right: 0;
  text-align: right;
}

.intro-room {
  display: flex;
}

.intro__column {
  display: flex;
  flex-direction: column;

  &--S {
    width: 31.9%;
    height: 100%;
  }

  &--M {
    width: 69.9%;
  }

  img {
    display: block;
    height: 100%;
  }
}
