.footer {
  background-color: white;
  border-top: 1px solid $color-main10;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  width: 100%;

  &--no-navigation {
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 560px;
    padding-bottom: 110px;
    padding-top: 100px;
    text-align: center;
    
  }

}

.footer__column {
  align-items: baseline;
  display: flex;
  flex-direction: column;

  &--wide {
    max-width: 260px;
  }
}

.footer__title {
  padding: 10px 15px 10px 0;

  ~ .footer__text {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.footer__text {
  margin-top: 20px;
}
