include ../container/container.pug
include ../socials/socials.pug

.copyright
  +container('flex')
    p Copyright © 2018 Toxin UI Kit. All rights reserved.
    +socials
      +social__item('twitter')
      +social__item('facebook')
      +social__item('instagram')