include ../container/container.pug
include ../socials/socials.pug

mixin copyright(text="Copyright © 2018 Toxin UI Kit. All rights reserved.")
  .copyright
    +container('flex-centralized')
      p!= text
      +socials
        +social__item('twitter')
        +social__item('facebook')
        +social__item('instagram')