.profits {
  margin: 10px;
  max-width: 290px;
  width: 100%;
}

.profit {
  background-color: white;
  border-bottom: 1px solid $color-main10;

  padding: 15px 20px 15px 55px;
  position: relative;
}

.profit__title {
  font-weight: bold;
}

.profit__pic {
  content: '';
  fill: $gradient-purple;
  height: 48px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 48px;
}
