.nav {
  align-items: baseline;
  display: flex;
}

.nav__item {
  color: $color-main50;
  cursor: pointer;
  padding: 10px 15px;
  transition: color .2s linear;

  &:hover {
    color: $color-main75;
  }
}

.nav__item--multiple {
  padding-right: 30px;
}

.nav--vertical {
  flex-direction: column;

  .nav__item {
    padding-left: 0;
  }
}

.nav__list {
  background: white;
  content: '';
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav__item--bold {
  color: $color-main75;
  font-weight: bold;
}

.nav__item--logged-in {
  margin-right: 0;
  padding-left: 45px;
  position: relative;

  &::before {
    background: $color-main10;
    content: '';
    height: 2.2em;
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
  }
}

.nav__container {
  position: relative;
}

.nav__arrow {
  cursor: pointer;
  fill: $color-main50;
  height: 24px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
}

.nav__container--opened {
  .nav__item {
    color: $color-main75;
  }

  .nav__arrow {
    fill: $color-main75;
    transform: translate(0, -50%) rotate(180deg);
  }

  .nav__list {
    display: flex;
  }
}
