mixin nav(mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' nav--' + modsList[i].trim();
      }
    }
  .nav(class=allMods, role='navigation')
    block


mixin nav__item(text, href, mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' nav__item--' + modsList[i].trim();
      }
    }
  - if (allMods.includes('multiple')) {
  .nav__container(class='js-nav__container')
    input.nav__item(type='button' class=allMods value=text)
    svg.nav__arrow
      use(xlink:href='#expansion')
    .nav__list
      block
  - }
  - else
  a.nav__item(class=allMods, href=href)!= text

