.nav {
  display: flex;
  align-items: baseline;

  font-size: 13px;
  font-weight: 700;

  position: relative; 
  z-index: 10;
}

.nav_vertical {
  flex-direction: column;
}

.nav__item {
  padding:10px 15px;

  color: rgb(31, 32, 65);
  text-decoration: none;
  opacity: .5;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  cursor: pointer;

  transition: opacity .1s linear;
}

.nav_vertical .nav__item {
  padding-left: 0;
}

.nav__item_bold {
  opacity: .75;
  font-weight: bold;
}

.nav__item:hover {
  opacity: .75;
}

.nav__item_logged-in {
  padding-left: 45px;
  margin-right: 0;

  position: relative;
}

.nav__item_logged-in:before {
  content: '';
  height: 30px;
  width: 1px;

  background: rgb(31, 32, 65);
  opacity: .1;

  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
}

.nav__item_multiple {
  position: relative;
}

.nav__item_multiple:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 5px;


  border: solid rgb(31, 32, 65);
  border-width: 0 1.5px 1.5px 0;

  padding: 2.5px;

  transform: rotate(45deg);
}