.nav {
  align-items: baseline;
  display: flex;
}

.nav--vertical {
  flex-direction: column;

  .nav__item {
    margin: 0;
    margin-top: 21px;
  }
}

.nav__item {
  color: $color-main50;
  cursor: pointer;
  line-height: 1.05rem;
  margin-right: 30px;
  transition: color 0.2s linear;

  &:hover {
    color: $color-main75;
  }

  &--bold {
    color: $color-main75;
    font-weight: bold;
  }

  &--logged-in {
    margin-right: 0;
    padding-left: 31px;
    padding-right: 1px;
    position: relative;
  }

  &--logged-in::before {
    background: $color-main10;
    content: '';
    height: 2.2em;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
  }
}

.nav__container {
  align-items: center;
  display: flex;
  margin-right: 20px;
  position: relative;

  .nav__item {
    margin-right: 0;
  }
}

.nav__list {
  background: white;
  box-shadow: 0 12px 12px $color-main25;
  content: '';
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.nav__arrow {
  cursor: pointer;
  fill: $color-main50;
  height: 24px;
  pointer-events: none;
  width: 21px;
}

.nav__container--opened {
  .nav__item {
    color: $color-main75;
  }

  .nav__arrow {
    fill: $color-main75;
    transform: rotate(180deg);
  }

  .nav__list {
    display: flex;
    left: -10px;
    padding: 10px;
    position: absolute;
    top: 25px;
    white-space: nowrap;
  }
}
